nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

nav .brand {
  display: flex;
  align-items: center;
}

nav .logo {
  height: 100px;
  margin: -50px 0;
  width: auto;
  transition: transform 0.3s ease;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
}

nav a:hover {
  background-color: #333;
  color: #ffffff;
}

nav a.active {
  background-color: #333;
  color: #ffffff;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  box-sizing: border-box;
}

.input-container {
  padding: 10px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 1024px) {
  .content-container {
    height: auto;
  }
}
